.link {
    text-decoration: none;
    color: black;
}

.main-content {
    margin-bottom: 64px;
    margin-top: 75px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: #fafafa;
    margin: 0px;
}