/* @import url('%PUBLIC_URL%/fonts/SF-Pro-Display-Regular.otf'); */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.link {
    text-decoration: none;
    color: inherit;
}

.main-content {
    margin-top: 78px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 18px;
}

body {
    background-color: #fafafa;
    margin: 0px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.snackbar {
    /* margin: 0 auto; */
    margin-bottom: 45px; /* For being above the navbar */
    margin-left: 20px;
    margin-right: 20px;
}

.pageHeader {
    font-weight: 400px;
    text-align: center;
}

.header {
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

.centered { text-align: center; }

.beta {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
