/* @import url('%PUBLIC_URL%/fonts/SF-Pro-Display-Regular.otf'); */

.link {
    text-decoration: none;
    color: inherit;
}

.main-content {
    margin-bottom: 64px;
    margin-top: 88px;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: #fafafa;
    margin: 0px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.snackbar {
    /* margin: 0 auto; */

    /* margin-bottom: 45px; */ /* For being above the navbar */
    margin-left: 20px;
    margin-right: 20px;
}
